body {
  background: #131418;
  text-align: center;
  margin-top: 10%;
  color: #f8f8f2;
}

label {
  color: #f8f8f2;
  font-size: 1.25em;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: 10% 15% 10% 15% 10% 15%;
  grid-template-rows: 1fr 1fr 15fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

#output {
  grid-column: 1/-1;
}

textarea {
  overflow-y: scroll;
  /* width: 75%; */
  /* height: 100px; */
  resize: none; /* Remove this if you want the user to resize the textarea */
}

.submit_btn {
  grid-column: span 2;
}
